{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% bootstrap_css %}
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Jua|Sunflower:300&display=swap" rel="stylesheet">
  <title>Kartrider Data Center</title>
  {% block css %}
  {% endblock  %}
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">Kartrider Data Center (made by wally-wally)</div>
    <div class="collapse navbar-collapse d-flex justify-content-end align-items-center d-sm-none" id="navbarNav">
      <ul class="navbar-nav d-none d-sm-flex">
        <li class="mx-2">
          <a class="nav-link" href="https://github.com/wally-wally" target="_blank">Go to 'wally-wally GitHub'</a>
        </li>
        <li class="mx-2">
          <a class="nav-link" href="mailto:wallys0213@gmail.com">Send e-mail to wally-wally</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    {% block content %}
    {% endblock  %}
  </div>
  {% bootstrap_javascript jquery='full' %}
</body>
</html>