{% extends 'data_pages/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'data_pages/stylesheets/style.css' %}">
{% endblock %}

{% block content %}
  <h1 class="text-center">Select Timeattack Data Management(ver 1.1)</h1>
  <hr>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            01. Collect Data
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="4000">
                <img src="{% static 'data_pages/images/01-01.jpg' %}" class="d-block w-100" alt="Collect_Data_Image_01">
              </div>
              <div class="carousel-item" data-interval="4000">
                <img src="{% static 'data_pages/images/01-02.jpg' %}" class="d-block w-100" alt="Collect_Data_Image_02">
              </div>
              <div class="carousel-item" data-interval="4000">
                <img src="{% static 'data_pages/images/01-03.jpg' %}" class="d-block w-100" alt="Collect_Data_Image_03">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          - 유저의 닉네임(user_nickname)과 원하는 채널을 선택한다.<br>
          - 선택한 채널의 타임어택 기록이 있는 경우 '데이터 수집이 완료되었습니다.'라는 문구와 함께 csv파일로 저장된다.<br>
          - 만약 타임어택 기록이 없는 경우 그 채널의 이름과 함께 '(채널명)의 타임어택을 진행하지 않았습니다.'라는 문구가 출력된다.<br>
          <hr>
          {% if user.is_authenticated %}
            <a href="{% url 'data_pages:collect_form' %}"><button type="button" class="btn btn-secondary h6">Move</button></a>
          {% else %}
            <a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-secondary h6">Move</button></a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            02.Analysis Data
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="4000">
                <img src="{% static 'data_pages/images/02-01.jpg' %}" class="d-block w-100" alt="Analysis_Data_Image_01">
              </div>
              <div class="carousel-item" data-interval="4000">
                <img src="{% static 'data_pages/images/02-02.jpg' %}" class="d-block w-100" alt="Analysis_Data_Image_02">
              </div>
              <div class="carousel-item" data-interval="4000">
                <img src="{% static 'data_pages/images/02-03.jpg' %}" class="d-block w-100" alt="Analysis_Data_Image_03">
              </div>
              <div class="carousel-item" data-interval="4000">
                <img src="{% static 'data_pages/images/02-04.jpg' %}" class="d-block w-100" alt="Analysis_Data_Image_04">
              </div>
              <div class="carousel-item" data-interval="4000">
                <img src="{% static 'data_pages/images/02-05.jpg' %}" class="d-block w-100" alt="Analysis_Data_Image_05">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          - 유저의 닉네임(user_nickname)와 원하는 채널을 선택한다.<br>
          - 'Select data what you want'에서 보고 싶은 내용을 선택한다.<br>
          - 그 중 2번을 선택한 경우 'rank interval'을 작성하여 순위 간격을 조절한다.(단, 10 이상 100 이하의 10의 배수로만 작성 가능)<br>
          - 만약 해당 csv 파일이 없는 경우 '(닉네임)님의 (채널명) 채널의 타임어택 기록 csv 파일이 없습니다.'라는 문구가 출력된다.<br>
          <hr>
          {% if user.is_authenticated %}
            <a href="{% url 'data_pages:analysis_form' %}"><button type="button" class="btn btn-secondary h6">Move</button></a>
          {% else %}
            <a href="{% url 'data_pages:analysis_form' %}"><button type="button" class="btn btn-secondary h6">Move</button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item">★<a class="go-to-kartrider" href="http://kart.nexon.com/" target="_blank">Go to play Kartrider!</a>★</li>
  </ul>
{% endblock  %}