{% extends 'data_pages/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'data_pages/stylesheets/style.css' %}">
{% endblock %}

{% block content %}
  <h1 class="text-center">Select Timeattack Data Management(ver 1.2)</h1>
  <hr>
  <a href="http://kart.nexon.com/" target="_blank"><button type="button" class="btn btn-warning btn-lg">Go to Kartrider!</button></a> &nbsp;
  <a href="{% url 'data_pages:storage_index' %}" target="_blank"><button type="button" class="btn btn-success btn-lg">Go to Data Storage!</button></a>
  <br><br>
  {% include 'data_pages/_index.html' %}
{% endblock  %}